<nav class="navigation-top">

	<a class="logo icon icon-benq" href="/"></a>

	<div class="main-nav">
		<a href="/about">About Benq</a>
		<a href="/features">Features</a>
		<a href="/rp-series">RP Series</a>
		<a href="/software">Software</a>
		<a href="/success-stories">Success Stories</a>
		<a href="/news">News</a>
		<a href="/support">Support</a>
	</div>

	<div class="sub-nav features">

		<div class="features-nav">
			<a href="/features/eye-care">Eye Care</a>
			<a href="/features/best-viewing">Best Viewing</a>
			<a href="/features/dual-ifp">Dual IFP</a>
			<a href="/features/ease-of-use">Ease of Use</a>
			<a href="/features/open-platform">Open Platform</a>
			<a href="/features/tco-friendly">TCO Platform</a>
		</div>

	</div>

</nav>