<h1 class="h1">Header h1</h1>
<h2 class="h2">Header h2</h2>
<h3 class="h3">Header h3</h3>

<div class="wrapper">

	<div class="block">

		<div class="content">

			<div class="padding">

				<div class="middle">
					<div class="txt-wrapper">
						<h2>title</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis accumsan</p>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="block">

		<div class="content">

			<div class="padding">

				<div class="middle">
					<div class="txt-wrapper">
						<h2>title</h2>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sit amet auctor lacus, et semper purus. Duis quis congue nibh. Fusce nec tortor facilisis, efficitur mi sed</p>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="block">

		<div class="content">

			<div class="padding">

				<div class="middle">
					<div class="txt-wrapper">
					<h2>title</h2>
					<p>Pellentesque habitant morbi tristique senec</p>
				</div>
				<div class="img-wrapper">
					<img src="img/home/muffin.jpg">
				</div>
			</div>

			</div>

		</div>

	</div>	



</div>